#map-container {
  height: 80vh;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #4f6b86 !important;
    color: #fff !important;
}

.navigation { 
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}

.input {
  text-align: center;
  margin: 1rem auto;
}